# --- ENVIRONNEMENT VIRTUEL ---
venv/
env/
.env

# --- DONNÉES ET RÉSULTATS ---
# pour ne pas importer les fichiers et dossiers déjà créés
all_books/
*.csv
*.jpg

# --- CACHE ET SYSTÈME ---
# Fichiers temporaires créés par Python, OS ou windows
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db